html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  background-color: #18191a;
  min-height: 100vh;
  /* user-select: none; */
}

.skinImg {
  transition: 0.3s ease-in-out;
}

.skinCard:hover .skinImg {
  transform: scale(1.2);
}
